.button {
    background-color: #70CBB3;
    border: none;
    color: white;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    margin: 4px 2px;
    border-radius: 30px;
}

/* form {
  overflow: hidden;
} */
input {
  text-align: right;
  /* clear: both; */
}



.checkbox {

    float: right;
}

.heading {
    font-weight: bold
}

.hide {
    display: none;
}

.imgDiv {
    width: 100%;
    align-self: center;
    padding: 5px;
}

.upperDiv {
    /* position: absolute; */
    position: relative;
}

.answersDiv {
    width: 70%;
    margin-right: 55%;
    text-align: right;
    align-self: center;
    align-content: center;
    max-width: 700px;
    margin: auto;
}

.divheader {
    margin-top: 4px;
    margin-bottom: 5px;
    margin-block-start: 4px;
    margin-block-end: 5px; 
}
/* .h1, .h2, .h3, h1, h2, h3,

.h3 {
    padding: 0px;
    margin: 0px;
}
*/
.logoImg {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 34%;
    margin-top: 4px;
    max-width: 350px;
}

.formDiv {
    width: 100%;
    align-content: center;
    align-self: center;
    max-width: 700px;
    margin: auto;
    padding: 5px;
}

#pollForm {
    margin: 10px;
}

input[type='radio']:after {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    /* top: -2px; */
    /* left: -1px; */
    position: relative;
    /* background-color: #d1d3d1; */
    /* content: ''; */
    display: inline-block;
    visibility: visible; 
    /* border: 3px solid white; */
}

input[type=checkbox]:checked:after {
    width: 15px;
    height: 15px;
    /* border-radius: 10px; */
    /* top: -2px; */
    /* left: -2px; */
    /* bottom: 3px; */
    /* right:3px; */
    position: relative;
    /* background-color: #70CBB3; */
    /* content: ' '; */
    /* color:#70CBB3; */
    display: inline-block;
    visibility: visible;
    /* border: 2px solid white; */
}

input[type='radio']:checked:after {
    width: 15px;
    height: 15px;
    /* border-radius: 10px; */
    /* top: -2px; */
    /* right:3px; */
    /* left: -3px; */
    position: relative;
    background-color: #70CBB3;
    /* content: ' '; */
    color: #70CBB3;
    display: inline-block;
    visibility: visible;
    /* border: 2px solid white; */
}

.meetingDiv,
.exclusivityDiv,
.undecidedDiv {
    font-size: 20px;
}

/* .notesDiv {

} */

.commentsTextField {
    text-align: center;
    font-size: 14px;
    width: 74%;
    height: 50px;
}

.addressInput {
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    width: 80%;
    height: 50px;
}

h1,
h2,
h3 {
    color: #1D3136;
}

h3,
.h3 {
    margin-bottom: 2px;
}